* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #015ccb50
}

main {
    display: flex;
    flex-direction: column;
    place-items: center;
}

/* ========================= navbar/menu =========================== */
nav.menu > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

    nav.menu > ul li {
        padding: 0 2rem 1rem 2rem;
    }

        nav.menu > ul li a {
            text-decoration: none;
            color: black;
            font-size: 200%;
            text-transform: uppercase;
            letter-spacing: 0.1ch;
        }

/* ========================= list of products =========================== */
.list-of-products {
    padding: 0;
    max-width: 960px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

    .list-of-products li {
        list-style-type: none;
    }

        .list-of-products li p {
            text-align: center;
            position: relative;
            bottom: 4.5rem;
            left: 4rem;
            font-weight: bold;
            width: 180px;
            background: white;
            border-radius: 1rem;
        }

        .list-of-products li form {
            text-align: center;
        }

            .list-of-products li form button {
                position: relative;
                bottom: 2.5rem;
                background-color: #7de54d40;
                border-radius: 4px;
                padding: 28px 4px 24px 4px;
            }

        .list-of-products li > img {
            width: 310px;
            height: 310px;
            object-fit: cover;
            border-radius: 160px;
            filter: drop-shadow(-6px 6px 8px grey);
        }

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ========================= shoppingcart =========================== */
#shoppingcart-table :not(#empty-message) {
    border: 1px solid black;
    text-align: center;
}

#shoppingcart-table #table-headings th {
    border: 2px double black;
}

#shoppingcart-table .table-cells td {
    border: 2px solid black;
}

    #shoppingcart-table .table-cells td img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

#empty-message {
    color: #cb1717
}

#shoppingcart-buttons {
    display: flex;
    padding-top: 2rem;
    width: 30%;
    flex-direction: row;
    justify-content: space-between;
}

/* ========================= checkout =========================== */
#checkout-button, #return-button {
    text-decoration: none;
    background-color: #44db5840;
}

#empty-cart-button {
    background-color: #ee343461;
}

#checkout-button, #return-button, #empty-cart-button, .list-of-products li form button {
    display: inline-flex;
    align-items: center;
    color: black;
    border: 1px solid gray;
    cursor: default;
    height: 3rem;
}

/* ========================= media queries =========================== */
@media (max-width: 900px) {
    #shoppingcart-buttons {
        flex-direction: column;
        width: fit-content;
    }

    #checkout-button {
        margin-top: 2rem;
    }
}
