body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #015ccb50
}

main {
    display: flex;
    flex-direction: column;
    place-items: center;
}

/* ========================= list of products =========================== */
.list-of-products {
    padding: 0;
    max-width: 960px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.list-of-products li {
    list-style-type: none;
    max-width: 260px;
}

.list-of-products li p {
    margin-left: auto;
    margin-right: auto;
}

.list-of-products li>img {
    width: 310px;
    height: 310px;
    object-fit: cover;
    border-radius: 160px;
    filter: drop-shadow(-6px 6px 8px grey);
}

/* ========================= shoppingcart =========================== */
#shoppingcart-table :not(#empty-message) {
    border: 1px solid black;
    text-align: center;
}

#shoppingcart-table #table-headings th {
    border: 2px double black;
}

#shoppingcart-table .table-cells td {
    border: 2px solid black;
}

#empty-message {
    color: #cb1717
}

#shoppingcart-buttons {
    display: flex;
    padding-top: 2rem;
    width: 30%;
    flex-direction: row;
    justify-content: space-between;
}

/* ========================= checkout =========================== */
#checkout-button, #return-button {
    text-decoration: none;
    background-color: #44db5840;
}

#empty-cart-button {
    background-color: #ee343461;
}

#checkout-button, #return-button, #empty-cart-button {
    display: inline-flex;
    align-items: center;
    color: black;
    border: 1px solid gray;
    cursor: default;
    height: 3rem;
}

/* ========================= media queries =========================== */
@media (max-width: 900px) {
    #shoppingcart-buttons {
        flex-direction: column;
        width: fit-content;
    }

    #checkout-button {
        margin-top: 2rem;
    }
}
