@page
@model groceries_webshop.Pages.OrderConfirmationModel
@inject groceries_webshop.Data.AccessControl accessControl
@{
	ViewData["Title"] = "Order Confirmation";
}

<h1>Thank you for your purchase!</h1>

<h2>Total: @Model.GetTotal() VEF</h2>

<p>A receipt has been sent to your email.</p>

<a id="return-button" asp-page="/Index">Return to home page</a>
