@page
@model groceries_webshop.Pages.OrderConfirmationModel
@{
    <h1>Thank you for your purchase!</h1>

    <p>Total: @Model.GetTotal();</p>

    <a asp-area="" asp-page="/Search">Return to search page</a>
}
