@page
@model groceries_webshop.Pages.OrderConfirmationModel
@{
    <h1>Thank you for your purchase!</h1>

    <p>Total: @Model.GetTotal() VEF</p>

    <a id="return-button" asp-page="/Search">Return to search page</a>
}
