@page
@model groceries_webshop.Pages.OrderConfirmationModel
@inject groceries_webshop.Data.AccessControl accessControl
@{
	ViewData["Title"] = "Order Confirmation";
}

<h1>Thank you for your purchase!</h1>

<nav class="menu">
	<ul>
		<li><a asp-page="/Index">Home</a></li>
		<!-- asp-route-id property is used to keep track of the logged in user's id -->
		<li><a asp-page="/ShoppingCart" asp-route-id="@accessControl.LoggedInAccountID">Shopping Cart</a></li>
	</ul>
</nav>

<h2>Total: @Model.Total VEF</h2>

<p>A receipt has been sent to your email.</p>

<a id="return-button" asp-page="/Index">Return to home page</a>

